<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Jobseek - Job Board Responsive HTML Template">
    <meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
    <title>EVote - Voting Online Website</title>
    <link rel="shortcut icon" href="images/favicon.png">

    <!-- Main Stylesheet -->
    <link href="/Content/CSS/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>SignUpSuccess</title>
    <meta http-equiv="Refresh" content="5; url=@Url.Content(Url.Action("Index", "Candidates"))" />

    <script type="text/javascript">

        function countdown()
        {
            seconds = document.getElementById("countdown").innerHTML;
            if (seconds > 0)
            {
                document.getElementById("countdown").innerHTML = seconds - 1;
                setTimeout("countdown()", 1000);
            }
        }

        setTimeout("countdown()", 1000);

    </script>
</head>
<body>
    <div class="jumbotron">
        <div style="text-align:center">
            <h3>
                Congratulations on registering successfully<br />
                Please wait in <span id="countdown">5</span>
            </h3>
        </div>
    </div>
</body>
</html>
